.navWrapper {
  position: sticky;
  top: -16px;
  z-index: 1;
  height: calc(var(--header-height) + 16px);
}

/* Add pseudo elements for shadow reveal */
.navWrapper::before,
.navWrapper::after {
  content: "";
  display: block;
  height: 16px;
  position: sticky;
  -webkit-position: sticky;
}

/* The actual shadow that is revealed on scroll */
.navWrapper::before {
  top: calc(var(--header-height) - 16px);
  box-shadow: 0px 8px 8px -3px rgba(20, 20, 20, 0.08);
}

/* Cover of the shadow if not scrolled with white to alpha fade for smooth transition */
.navWrapper::after {
  height: 16px;
  background: linear-gradient(white 20%, rgba(255, 255, 255, 0.8) 70%, transparent);
  z-index: 2;
}

/* Additional white backdrop for the header */
.headerBackground {
  background-color: var(--color-white);
  position: sticky;
  -webkit-position: sticky;
  width: 100%;
  height: calc(var(--header-height));
  top: 0px;
  /* compensate for ::before height */
  margin-top: -16px;
  z-index: 3;
}

.elementsWrapper {
  --padding-top: 18px;
  display: flex;
  height: calc(var(--header-height) - var(--padding-top));
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padding-top);
  padding-left: var(--padding-content);
  padding-right: var(--padding-content);
}

.colorAccent {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.nameSVG {
  display: block;
}

.nameLink {
  display: block;
  color: var(--color-secondary);
  margin-top: -4px;
  font-size: 12px;
  font-weight: 400;
}

.backIcon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.headerItem {
  cursor: pointer;
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.wrapper > *:not(:last-child) {
  margin-inline-end: 10px;
}
