.wrapper {
  background-color: var(--color-white);
  border: 2px solid var(--color-focus);
  border-radius: 30px;
  padding: 18px;
  display: flex;
}

.icon {
  margin-right: 12px;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}

.input {
  font-size: 16px;
  background: none;
  border: none;
  flex-grow: 1;
}

.input:focus,
.input:active {
  border: none;
  outline: none;
}

.clear {
  margin-left: 12px;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
