.langCard {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  white-space: pre;
}

.activeBorder {
  border: 1px solid var(--color-action);
}

.flagIcon {
  height: 12px;
  padding-inline-end: 8px;
  display: inline-block;
}

.dropdownIcon {
  height: 8px;
  vertical-align: middle;
  padding-inline-start: 8px;
  display: inline-block;
}

.selector {
  position: relative;
}

.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  z-index: 1;
  background-color: var(--color-white) !important;
  box-shadow: 0px 1px 30px 1px rgba(20, 20, 20, 0.18);
  filter: drop-shadow(0px 0px 1px rgba(20, 20, 20, 0.08));
  white-space: pre;
  padding: 0 !important;
}

.divider {
  margin: 0.1px 0px;
  background: var(--color-secondary-dark);
  opacity: 0.2;
  height: 0.5px;
  border: 0px;
}

.divider:last-child {
  display: none;
}

.dropdownItem {
  position: relative;
}

.dropdownItem:not(:last-child) {
  padding-block-end: 10px;
}
