.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 4, 32, 0.8);
}

.modalInner {
  position: fixed;
  width: calc(100% - 2*var(--padding-content));
  max-width: var(--global-width-limit);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeButton {
  position: absolute;
  background: none;
  border: 0;
  top: 15px;
  right: 15px;
}

.closeButton > svg {
  width: 24px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}
