.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px;
  background: var(--color-error);
  border-radius: 0 0 12px 12px;
  color: var(--color-dark-error);
  transition: margin .3s ease-in-out;
}

.hidden {
  margin: -200px 0;
}
