:root {
  /* NEW COLORS */
  --color-primary: #ffd400;
  --color-secondary: #111e6a;
  --color-secondary-dark: #0d1234;
  --color-light-grey: #f1f1f1;
  --color-action: #1337b8;
  /* COLORS */
  --color-black: #000;
  --color-white: #fff;
  --color-focus: #159bff;
  --color-gray: #bdc0c2;
  --color-error: #f79a9a;
  --color-dark-error: #4d0707;
  /* general */
  --color-global-bg: #fff;

  /* OTHER */
  --header-height: 80px;
  --global-width-limit: 600px;
  --padding-content: 32px;
}
